# Series

In [64]:
import numpy as np
import pandas as pd

In [65]:
# Create series (One-dimensional ndarray with axis labels) from Python list
list_1 = ['a', 'b', 'c', 'd']
labels = [1, 2, 3, 4]

ser_1 = pd.Series(data=list_1, index=labels)
ser_1

1    a
2    b
3    c
4    d
dtype: object

In [66]:
# Create series (One-dimensional ndarray with axis labels) from 1D NumPy array
arr_1 = np.array([1, 2, 3, 4])
ser_2 = pd.Series(arr_1)

# Get Series datatype
print(f"data type: {ser_2.dtype}\n")

ser_2

data type: int64

0    1
1    2
2    3
3    4
dtype: int64

In [67]:
# Create series (One-dimensional ndarray with axis labels) from Python dictionary
dict_1 = {'f_name': 'Allan', 'l_name': 'Poe'}
ser_3 = pd.Series(dict_1)

# Retrieve value for 'f_name' property from Series
print(f"fname: {ser_3['f_name']}\n")

# Get Series datatype
print(f"data type: {ser_3.dtype}\n")

ser_3

fname: Allan

data type: object

f_name    Allan
l_name      Poe
dtype: object

In [68]:
# Add Series (ser_2) together
print("ser_2 + ser_2:")
print(ser_2 + ser_2)

ser_2 + ser_2:
0    2
1    4
2    6
3    8
dtype: int64

In [69]:
# Multiply Series (ser_2) together
print("ser_2 * ser_2:")
print(ser_2 * ser_2)

ser_2 * ser_2:
0     1
1     4
2     9
3    16
dtype: int64

In [70]:
# Calculate the exponential of all elements in the input Series passing it into corresponding NumPy function.
np.exp(ser_2)

0     2.718282
1     7.389056
2    20.085537
3    54.598150
dtype: float64

In [71]:
# Attempt to perform operation on two Series for which there is no alignment between most of the labels
ser_4 = pd.Series({4: 5, 3: 6, 6: 7})
ser_2 + ser_4

0     NaN
1     NaN
2     NaN
3    10.0
4     NaN
6     NaN
dtype: float64